@font-face {
  font-family: "iconfont"; /* Project id 2774740 */
  src: url('iconfont.woff2?t=1630133747728') format('woff2'),
       url('iconfont.woff?t=1630133747728') format('woff'),
       url('iconfont.ttf?t=1630133747728') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shop-cart-white:before {
  content: "\e61f";
}

.icon-shop-cart-gray:before {
  content: "\e620";
}

.icon-Homehomepagemenu:before {
  content: "\e9ce";
}

.icon-Homehomepagemenu1:before {
  content: "\e9db";
}

.icon-Profile:before {
  content: "\e747";
}

.icon-Profile1:before {
  content: "\e60c";
}

.icon-52:before {
  content: "\e634";
}

.icon-yingyong:before {
  content: "\e679";
}

